openapi: 3.0.0
info:
  title: Corona-19-API
  description: <b>굿바이코로나에서 제공하는 코로나바이러스감염증-19 API 입니다.</b><br>코로나바이러스감염증-19 API 서비스
    제공 - 코로나19 관련 API를 무제한 무료로 사용하세요! 🇰🇷 South Korea's COVID-19 API service provided
    - Use COVID-19 related API for free for unlimited !
  contact:
    email: dhlife09@gmail.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.corona-19.kr
  description: 🇰🇷 South Korea
tags:
- name: COVID-19-INFECTION
  description: 코로나19 감염 정보(COVID-19 infection information)
- name: COVID-19-VACCINE
  description: 코로나19 백신접종 정보(COVID-19 Vaccination Information)
paths:
  /vaccine:
    get:
      tags:
      - COVID-19-INFECTION
      summary: searches inventory
      description: |
        By passing in the appropriate options, you can search for
        available inventory in the system
      operationId: search_inventory
      parameters:
      - name: searchString
        in: query
        description: pass an optional search string for looking up inventory
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: skip
        in: query
        description: number of records to skip for pagination
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: limit
        in: query
        description: maximum number of records to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 50
          minimum: 0
          type: integer
          format: int32
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InventoryItem'
                x-content-type: application/json
        "400":
          description: bad input parameter
      x-openapi-router-controller: swagger_server.controllers.covid19_infection_controller
    post:
      tags:
      - admins
      summary: adds an inventory item
      description: Adds an item to the system
      operationId: add_inventory
      requestBody:
        description: Inventory item to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryItem'
      responses:
        "201":
          description: item created
        "400":
          description: "invalid input, object invalid"
        "409":
          description: an existing item already exists
      x-openapi-router-controller: swagger_server.controllers.admins_controller
components:
  schemas:
    InventoryItem:
      required:
      - id
      - manufacturer
      - name
      - releaseDate
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: d290f1ee-6c54-4b01-90e6-d701748f0851
        name:
          type: string
          example: Widget Adapter
        releaseDate:
          type: string
          format: date-time
          example: 2016-08-29T09:12:33.001Z
        manufacturer:
          $ref: '#/components/schemas/Manufacturer'
      example:
        releaseDate: 2016-08-29T09:12:33.001Z
        name: Widget Adapter
        id: d290f1ee-6c54-4b01-90e6-d701748f0851
        manufacturer:
          phone: 408-867-5309
          name: ACME Corporation
          homePage: https://www.acme-corp.com
    Manufacturer:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          example: ACME Corporation
        homePage:
          type: string
          format: url
          example: https://www.acme-corp.com
        phone:
          type: string
          example: 408-867-5309
      example:
        phone: 408-867-5309
        name: ACME Corporation
        homePage: https://www.acme-corp.com

